<body>
  <% content_for :parent_js do %>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"%>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js" %>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js" %>
    <%= javascript_include_tag "https://www.gstatic.com/firebasejs/7.9.3/firebase-messaging.js" %>

  <% end%>
Test

</body>